<!-- footer -->
<footer class="mt-5">
    <div class="info-href">
        <!-- 會員中心 -->
        <div class="href">
            <h5>會員中心</h5>
            <ul>
                <li><a href="">管理會員資料</a></li>
                <li><a href="">查看訂單</a></li>
                <li><a href="">購物紀錄</a></li>
            </ul>
        </div>
        <!-- 客戶服務 -->
        <div class="href">
            <h5>客戶服務</h5>
            <ul>
                <li><a href="">常見問題</a></li>
                <li><a href="">查看訂單</a></li>
                <li><a href="">退貨政策</a></li>
                <li><a href="">商品保固</a></li>
            </ul>
        </div>
    </div>
    <canvas></canvas>

    <div class="info">
        <ul>
            <li><a href="#">隱私權政策</a>|</li>
            <li><a href="#">使用條款</a>|</li>
            <li><a href="#">銷售及退款</a></li>
        </ul>
        <p>Copyright © 2023 XXXXXX. All Rights Reserved</p>
    </div>
</footer>