<header>
    <nav class="header">
        <ul>
            <li>
                <a href="#" title="回首頁"><img src="./images/logo/cambuyLogo.png" alt="cambuyLogo" /></a>
            </li>
            <li>
                <form action="/search" method="get">
                    <input type="text" name="search" value="search" /><button type="submit" title="搜尋">
                        <img src="./images/icons/search.png" alt="search" />
                    </button>
                </form>
            </li>
            <li>
                <label class="switch" title="深/淺色模式">
                    <input type="checkbox" />
                    <span class="slider moon">☽</span>
                    <span class="slider round sun">☼</span>
                </label>
            </li>
            <li>
                <div class="notification">
                    <a href="#" id="notification-link"><img src="./images/icons/advice.png" alt="advice" /></a>
                    <div class="hidden" id="notification-content">
                        <a href="#" class="text-black">
                            <% for (let i=0; i < orderDate.length; i++) { %>
                                <div class="individual-notification container">
                                    <h5><b>訂單通知</b></h5>
                                    <p>已收到你的訂單 <%= orderDate[i].order_id %>
                                    </p>
                                    <p>商品名稱: <%= orderDate[i].prod_name %>
                                    </p>
                                    <p>數量: <%= orderDate[i].count %>
                                    </p>
                                    <span><i class="bi bi-clock"></i>
                                        <%= orderDate[i].order_date %>
                                    </span>
                                </div>
                                <% } %>
                        </a>
                    </div>
                </div>
            </li>
            <li>
                <a href="#" title="會員中心"><img src="./images/icons/member.png" alt="member" /></a>
            </li>
            <li>
                <a href="#" title="購物車"><img src="./images/icons/buy-cart.png" alt="buy-cart" /></a>
            </li>
        </ul>
    </nav>
</header>